
*{
    padding:0;
    margin: 0;
    box-sizing:  border-box;
}

.clear {
  margin-top: 60px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    
  }
  
.grupo0 h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(30, 31, 30) ;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  border-radius: 32px;
  background: #72015f;
  box-shadow:  5px 5px 25px #494848,
              -1px -1px 25px #858282;
}


  /*CARRUSEL*/
  

.carousel-inner img {
    padding-top:50px;
    margin: auto;
    min-height:100px;
    height: 200px;
    width: 600px;
}

#btnInfoCarru{
  background-color: #72015f;
  
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

  footer {
    background-color: hsl(0, 0%, 22%);
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    
    
  }



  .pie h1{
    text-align-last: left;
    padding: 0 3rem;
  }
  .pie h3{
    padding: 0 3rem;
  }

  .pie h5{
    padding: 0 3rem;
  }

  #exampleInputEmail1{ 
    width: 350px; 
  }

.redes{
  text-align: left;
  padding-top: 5px;
  padding-bottom: 10px;
}
.redes li {
  display: inline-block;
}
.redes a{
  padding: 5px;
}




/*nosotros*/

.fondoo{  
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(30, 31, 30) ;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  border-radius: 32px;
  background: #72015f;
  box-shadow:  5px 5px 25px #494848,
              -1px -1px 25px #858282;
}

.fondoo h1{
  text-align: center;
}

#txtNos{
  text-align: justify;
  padding: 5% 2% 10% 2%;
}



/*Cuenta*/
.cuentaa {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(30, 31, 30) ;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  border-radius: 32px;
  background: #72015f;
  box-shadow:  5px 5px 25px #494848,
              -1px -1px 25px #858282;
}

.cuentaa h1{
  text-align: center;
}

#inputEmail, #inputPassword, #btnAccederCuenta{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  
}
#btnAccederCuenta{
  background-color: #72015f;
  
}



/*contactanos*/

.contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(30, 31, 30) ;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  border-radius: 32px;
  background: #72015f;
  box-shadow:  5px 5px 25px #494848,
              -1px -1px 25px #858282;
}

.contact h1{
  text-align: center;

}





/*Registro/formulario*/
form {
  margin-top: 80px;
  padding-left: 60px;
  display: auto;
  justify-content: space-between;
  align-items: left;
}

label {
  text-align: right;
  width: 30%;
  margin-right: 2%;
}
label, input, button {
  font-size: 14px;
  line-height: 1.5
}

button{
  width: auto;
  color: #72015f;
  
}

.btn-primary {
  background-color: #EA6927;
  border: #EA6927;
}

.btn-primary:hover {
  background-color: #EBAB47;
  border: #EBAB47;
  ;
}

/*error1*/
.error{
  color:#EA6927
}






/*Noticias*/
.noti {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(30, 31, 30) ;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  border-radius: 32px;
  background: #72015f;
  box-shadow:  5px 5px 25px #494848,
              -1px -1px 25px #858282;

}

.noti h1{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  
}

#notiImgTamaño{
  width: 200px; height: 100px;
}



