/*Index*/
/*contacto*/
/*micuenta*/
*{
    padding-}: 60%;
}




section{

    width: 50%;
    
}

#acceder{
    height: 25vh;
    padding: 65% 15% 0% 15%;
    font-size: 0.8em;
    background-color:#00D9F3 
}

